<%- include('partials/top') -%>
    <div class="container">
        <div class="row">
            <div class="column" style="padding-top: 2em;">
                <h2>Here be dragons</h2>
                <hr>
                <p>
                    "Here be dragons" (hic sunt dracones in Latin) means dangerous or unexplored territories, in
                    imitation of a medieval practice of putting illustrations of dragons, sea monsters and other
                    mythological creatures on uncharted areas of maps where potential dangers were thought to exist.
                </p>
            </div>
            <div class="column">
                <img src="<%=site.app_routing_prefix%>/pepedragon.png" />
            </div>
        </div>
    </div>
    <%- include('partials/bottom') -%>