<%- include('partials/top') -%>
  <div class="container">
    <div class="row" id="register-form">

      <div class="column">
        <form @submit.prevent="register">
          <fieldset>
            <label for="email">Email</label>
            <input type="email" placeholder="" id="email">
            <label for="password">Password</label>
            <input type="password" placeholder="" id="password">
            <input type="submit" value="Register">
          </fieldset>
        </form>

      </div>
    </div>
    <script>
      let regitser_form = new Vue({
        el: '#register-form',
        data: {
          error: undefined
        },
        methods: {
          register: async function (submitEvent) {
            let email = submitEvent.target.elements.email.value;
            let password = submitEvent.target.elements.password.value;
            let response = await apiclient.post("api/register", {
              email, password
            });
            if(response.status !== 200){
              flashmessage.add({text:"Error, try logging in.", type:"error"})
            }else{
              let token = response.data;
              window.localStorage.authToken = token;
              location.reload();
            }
          }
        }
      });
    </script>
    <%- include('partials/bottom') -%>