<%- include('../partials/top') -%>
    <div class="container" id="monitor_transaction_list">
        <div class="transaction-batch" v-for="transactionBatch in transactions">
            <table>
                <thead>
                    <th>Exchange name</th>
                    <th>Market</th>
                    <th>Side</th>
                    <th>Order size</th>
                    <th>Date</th>
                </thead>
                <tbody>
                    <tr v-for="(transaction,i) in transactionBatch" :key="i">
                        <td>{{transaction.exchangeData.exchangeCredentials.exchangeName}}</td>
                        <td>{{transaction.exchangeData.market}}</td>
                        <td>{{transaction.side.toUpperCase()}}</td>
                        <td>{{transaction.size}}</td>
                        <td>{{new Date(transaction.createdAt).toLocaleString()}}</td>
                    </tr>
                    <tr>
                        <th colspan="3">Total</th>
                        <th colspan="2">{{transactionBatch.reduce((acc, curr)=>{return acc + curr.size},0)}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        let monitor_list = new Vue({
            el: '#monitor_transaction_list',
            data: {
                transactions: {}
            },
            methods: {
                getTransactions: async function () {
                    let id = location.pathname.split("/").splice(-2, 1);
                    this.transactions = {};
                    let tranactionsResponse = await apiclient.get(`api/yf/monitor/${id}/transactions`);
                    this.transactions = tranactionsResponse.data.reduce((acc, curr) => {
                        if (!acc[curr.transactionBatchId]) {
                            acc[curr.transactionBatchId] = [];
                        }
                        acc[curr.transactionBatchId].push(curr);
                        return acc;
                    }, {});
                }
            },
            beforeMount() {
                this.getTransactions()
            },
        });
    </script>
    <%- include('../partials/bottom') -%>